<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>Detail Admin - User list</title>
    {% include "base_css.html" %}
    {% block csscontent%}{% endblock %}
</head>
<body>

    <!-- navbar -->
    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <button type="button" class="btn btn-navbar visible-phone" id="menu-toggler">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            
            <a class="brand" href="{% url 'index'%}"><img src='{% static "img/logo.png" %}'  /></a>

            <ul class="nav pull-right">                
  
                {% if user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle hidden-phone" data-toggle="dropdown">
                        {{user.username}}
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'usercenter:myinterests'%}">我的关注</a></li>
                        <li><a href="{% url 'logout'%}">退出登录</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="settings hidden-phone">
                    <a href="{%url 'login'%}" role="button">
                        登录
                    </a>
                </li>
                {% endif %}
            </ul>            
        </div>
    </div>
    <!-- end navbar -->

    <!-- sidebar -->
    <div id="sidebar-nav">
        <ul id="dashboard-menu">
            <li>                
                <a class="dropdown-toggle" href="#">
                    <i class="icon-home"></i>
                    <span>个人中心</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="{% url 'usercenter:myinterests'%}">我的关注</a></li>
                </ul>
            </li>            
             <li>
                <a class="dropdown-toggle" href="#">
                    <i class="icon-group"></i>
                    <span>商品</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="{% url 'shop:products'%}">商品列表</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- end sidebar -->
    

	<!-- main container -->
    {% block maincontent %}maincontent {% endblock %}
    <!-- end main container -->
    {% include "base_js.html" %}

    {% block jscontent%}<!--页面自己的js--> {%endblock%}


</body>
</html>