{% extends 'base.html' %}
{% load staticfiles %}
{% block maincontent%}
   <div class="content">
        
        <!-- settings changer -->
        <div class="skins-nav">
            <a href="#" class="skin first_nav selected">
                <span class="icon"></span><span class="text">Default</span>
            </a>
            <a href="#" class="skin second_nav" data-file="{% static 'css/skins/dark.css' %}">
                <span class="icon"></span><span class="text">Dark skin</span>
            </a>
        </div>
        
        <div class="container-fluid">
            <div id="pad-wrapper" class="users-list">
                <div class="row-fluid header">
                    <h3>商品列表</h3>
                    </div>
                </div>

                <!-- Users table -->
                <div class="row-fluid table">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="span4 sortable">
                                    商品名称
                                </th>
                                <th class="span3 sortable">
                                    <span class="line"></span>数据更新时间
                                </th>
                                <th class="span2 sortable">
                                    <span class="line"></span>数据编号
                                </th>
                                <th class="span3 sortable align-right">
                                    <span class="line"></span>商品来源
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                     
                        {% for product in products %}
                        <!-- row -->
                        <tr>
                            <td>
                                <a href="{% url 'shop:detail' product.id %}" target="_blank" class="name">{{product.name}}</a>
                            </td>
                            <td>
                                {{product.updateTime|date:'Y-m-d H:m:s'}}
                            </td>
                            <td>
                                {{product.orderNum}}
                            </td>
                            <td class="align-right">
                                <a href="{{product.url}}">商品来源</a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="pagination pull-right">
                    <ul>
                    {% if products.has_previous %}
                        <li><a href="{%url 'shop:products' %}?page={{ products.previous_page_number }}">&#8249;</a></li>
                    {% endif %}
                       
                        <li><span class="active" href="#">第 {{ products.number }}页，共  {{ products.paginator.num_pages }}页</span></li>
                        


        {% if products.has_next %}
            <li><a href="{%url 'shop:products' %}?page={{ products.next_page_number }}">&#8250;</a></li>
        {% endif %}

                    </ul>
                </div>
                <!-- end users table -->
            </div>
        </div>
    </div>

    {% endblock %}